* {
    margin: 0;
    padding: 0
}

body {
    background-color: #a8cfd6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content {
    text-align: center;
    background-color: #000;
    color: rgba(148, 154, 167, 0.974);
    padding: 20px;
    font-family: Arial, sans-serif
}

.formulario {
    background-color: #000;
    padding: 12px 20px 12px 40px;
    color: rgb(95, 95, 95);
}

#busqueda {
    background-position: 10px 10px;
    width: 100%;
    font-size: 16px;
    color: #fff;
}